@model IEnumerable<DPAContext.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des utilisateurs</h2>

<p>
    @Html.ActionLink("+ Nouveau utilisateur", "Create", null, null, new { @class = "btn btn-primary" })
</p>
<br/>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-sm btn-default" })
            @Html.ActionLink("Détails", "Details", new { id = item.id }, new { @class = "btn btn-sm btn-info" })
            @Html.ActionLink("Supprimer", "Delete", new { id = item.id }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
