@model DPAContext.Role

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <br />
    <h3>Etes vous sûre de vouloir supprimer cette insertion ?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Rôle :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Description :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Date de création :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>

        <dt>
            Dernière modification :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedAt)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("Retourner vers la page d'accueil", "Index")
        </div>
    }
</div>
